.section {
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.underline {
  width: 100%;
  margin-right: auto;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.h1 {
  text-align: center;
}

.list {
  /* flex: 1; */
  text-decoration: none;
  list-style: none;
  border: 1px solid yellow;
  padding: 0.2rem 0.4rem;
}
.link {
  min-width: 5rem;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
